{% if is_admin %}
    {% if view == 'detail' %}
    <div class="col mb-2 btn-group">
        <button type="submit" class="btn btn-success mt-2">Save</button>
        <button type="button" 
                class="btn {% if product.variants.first.active %}btn-danger{% else %}btn-success{% endif %} mt-2 toggle-variant-btn" 
                data-url="{% url 'variant_deactivate' pk=product.variants.first.id %}" 
                data-active="{{ product.variants.first.active|yesno:'true,false' }}">
            {% if product.variants.first.active %}Deactivate Size{% else %}Activate Size{% endif %}
        </button>
        <button type="button" 
                class="btn {% if product.active %}btn-danger{% else %}btn-success{% endif %} mt-2 toggle-product-btn" 
                data-url="{% url 'product_deactivate' pk=product.id %}" 
                data-active="{{ product.active|yesno:'true,false' }}">
            {% if product.active %}Deactivate Product{% else %}Activate Product{% endif %}
        </button>
    </div>   
    {% else %}
    <a id="edit-link-{{ product_data.product.id }}"
        href="{% url 'product_detail' slug=product_data.product.slug %}?size={{ product_data.variant_size }}"
        class="btn btn-secondary {% if view == 'list' %}btn-sm{% else %}btn-buy{% endif %}"
        data-base-url="{% url 'product_detail' slug=product_data.product.slug %}">
        Edit
    </a>
    {% endif %}
{% else %}
    <a id="buy-button-{{ product.id }}"
        href="{{ product.get_buy_url }}"
        class="btn btn-secondary btn-buy {% if view == 'list' %}btn-sm{% endif %} {% if default_stock_status == 'Out of Stock' %}disabled{% endif %}">
        Buy
    </a>
{% endif %}