{% load static %}
<div class="{% if view == 'detail' %}col-md-6 d-flex align-items-center justify-content-center{% else %}background-gradient{% endif %} position-relative">
    <div class="{% if view == 'detail' %}card card-image-detail{% endif %}">
        <div class="{% if view == 'detail' %}background-gradient{% endif %} border-radius">
            <div class="content-gradient">
                {% if is_admin and product.id %}
                    {% include 'product/includes/badge.html' %}
                {% endif %}

                <!-- Product Image -->
                <img id="product-image-{{ product.id }}" 
                class="card-img-top deferred-image"
                data-src="{{ image }}"
                src="{% static 'images/product-holder.webp' %}"
                alt="{{ product.name }}"
                loading="lazy">
            </div>
        </div>

        <!-- Image Upload Icon for Superusers -->
        {% if is_admin and view == 'detail' %}
            <div class="image-upload-icon menu-icon position-absolute">
                <label for="id_image_path" class="sr-only">Change Product Image</label>
                <input id="id_image_path" 
                       type="file" 
                       name="image_path" 
                       class="form-control d-none"
                       onchange="previewImage(this, 'product-image-{{ product.id }}')">
                <i class="fa-solid fa-upload upload-icon menu-item"
                    tabindex="0"
                    role="button"
                    aria-label="Upload file"
                    onclick="document.getElementById('id_image_path').click()"
                    onkeydown="if(event.key === 'Enter' || event.key === ' ') document.getElementById('id_image_path').click()">
                </i>
            </div>
        {% endif %}
    </div>
</div>
