{% if view == 'detail' %}
    {% if request.user.is_superuser %}
        {{ product_form.name|as_crispy_field }}
    {% else %}
        <h2 class="card-title">
            {{ product.name }}
        </h2>
    {% endif %}
{% else %}
    <h5 class="card-title mx-auto">
        <a id="detail-link-{{ product_data.product.id }}"
            href="{% url 'product_detail' slug=product_data.product.slug %}?size={{ product_data.variant_size }}">
            {{ product_data.product.name }}
        </a>
    </h5>
{% endif %}