{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="product-card {% if view == 'detail' %}container mt-5 product-page page-container{% else %}card{% endif %}">
    <div class="{% if view == 'detail' %}row{% endif %}">
        {% if request.user.is_superuser and view == 'detail' %}
            {% csrf_token %}
        {% endif %}

        <!-- Product Image Section -->
        <div class="{% if view == 'detail' %}col-md-6 d-flex align-items-center justify-content-center{% else %}background-gradient{% endif %} position-relative">
            <div class="{% if view == 'detail' %}card{% endif %}">
                <div class="{% if view == 'detail' %}background-gradient{% endif %}">
                    <div class="content-gradient">
                        <img id="product-image-{{ product.id }}" class="card-img-top"
                            src="{% if view == 'detail' %}{{ product.image }}{% else %}{{ product_data.product.image }}{% endif %}"
                            alt="{% if view == 'detail' %}{{ product.name }}{% else %}{{ product_data.product.name }}{% endif %}">
                    </div>
                </div>

                <!-- Image Upload Icon for Superusers -->
                {% if request.user.is_superuser and view == 'detail' %}
                    <div class="image-upload-icon menu-icon position-absolute">
                        <label for="id_image_path" class="sr-only">Change Product Image</label>
                        <input id="id_image_path" 
                               type="file" 
                               name="image_path" 
                               class="form-control d-none"
                               onchange="previewImage(this, 'product-image-{{ product.id }}')">
                        <i class="fa-solid fa-upload upload-icon menu-item"
                           onclick="document.getElementById('id_image_path').click()"></i>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Product Name Section -->
        <div class="{% if view == 'detail' %}col-md-6{% else %}card-body{% endif %}">
            {% if view == 'detail' %}
                {% if request.user.is_superuser %}
                    {{ product_form.name|as_crispy_field }}
                {% else %}
                    <h2 class="card-title">
                        {{ product.name }}
                    </h2>
                {% endif %}
            {% else %}
                <h5 class="card-title mx-auto">
                    <a id="detail-link-{{ product_data.product.id }}"
                        href="{% url 'product_detail' slug=product_data.product.slug %}?size={{ product_data.variant_size }}">
                        {{ product_data.product.name }}
                    </a>
                </h5>
            {% endif %}

            <!-- Review Stars -->
            <div class="review-stars mb-3">
                {% if view == 'detail' %}
                    {% with product.rating as rating %}
                        {% for star in total_review %}
                            <i class="star {% if star < rating %}filled{% endif %}">★</i>
                        {% endfor %}
                    {% endwith %}
                {% else %}
                    {% with product_data.product.rating as rating %}
                        {% for star in total_review %}
                            <i class="star {% if star < rating %}filled{% endif %}">★</i>
                        {% endfor %}
                    {% endwith %}
                {% endif %}
            </div>

            <!-- Product Description -->
            {% if view == 'detail' %}
                {% if request.user.is_superuser %}
                    {{ product_form.description|as_crispy_field }}
                {% else %}
                    <label for="description" class="form-label">
                        Description
                    </label>
                    <p class="card-text mx-auto" id="description">
                        {{ product.description }}
                    </p>
                {% endif %}
            {% else %}
                <p class="card-text mx-auto">
                    {{ product_data.product.description }}
                </p>
            {% endif %}

            <!-- Size and Quantity/Stock Selectors -->
            <div class="row g-3 align-items-end mb-3 {% if view == 'detail' %}selectors-row{% else %}card-row{% endif %}">
                <!-- Size Selector -->
                <div class="col-md-6 mx-auto{% if view == 'detail' %}selector-group{% endif %}">
                    {% if view == 'detail' %}
                        {% with stock_by_size.items as size_data %}
                            <div class="gap-2 align-items-end">
                                <label for="size-select-{{ product.id }}" class="form-label selector-label">Size</label>
                                {% if request.user.is_superuser %}
                                    <button class="btn btn-success btn-sm selector-new-button">Add</button>
                                {% endif %}
                            </div>
                            <select id="size-select-{{ product.id }}" 
                                    class="form-select size select-dropdown selector-input">
                                    {% for size, data in size_data %}
                                        <option value="{{ size }}"
                                                data-price="{{ data.price }}"
                                                data-stock="{{ data.stock }}"
                                                {% if size == default_size %}selected{% endif %}
                                                {% if data.stock == 0 %}class="text-muted"{% endif %}>
                                            {{ size }}
                                        </option>
                                    {% endfor %}
                            </select>   
                        {% endwith %}
                    {% else %}
                        {% with product_data.stock_by_size.items as size_data %}
                            <label for="size-select-{{ product_data.product.id }}" class="form-label">Size</label>
                            <select id="size-select-{{ product_data.product.id }}" class="form-select size select-dropdown"
                                    data-base-url="{% url 'product_detail' slug=product_data.product.slug %}">
                                {% for size, data in size_data %}
                                    {% if data.stock > 0 or request.GET.show_out_of_stock == "on" %}
                                        <option value="{{ size }}"
                                                data-price="{{ data.price }}"
                                                data-stock="{{ data.stock }}"
                                                {% if size == product_data.variant_size %}selected{% endif %}
                                                {% if data.stock == 0 %}class="text-muted"{% endif %}>
                                            {{ size }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endwith %}
                    {% endif %}
                </div>

                <!-- Quantity/Stock Selector -->
                <div class="col-md-6 mx-auto{% if view == 'detail' %}selector-group{% endif %}">
                    {% if request.user.is_superuser and view == 'detail' %}
                        {{ variant_form.stock|as_crispy_field }}
                    {% else %}
                        <label for="{% if request.user.is_superuser %}stock-select-{% else %}quantity-select-{% endif %}{% if view == 'detail' %}{{ product.id }}{% else %}{{ product_data.product.id }}{% endif %}" 
                            class="form-label {% if view == 'detail' %}selector-label{% endif %}">
                            {% if request.user.is_superuser %}Stock{% else %}Quantity{% endif %}
                        </label>
                        <input id="{% if request.user.is_superuser %}stock-select-{% else %}quantity-select-{% endif %}{% if view == 'detail' %}{{ product.id }}{% else %}{{ product_data.product.id }}{% endif %}" 
                            type="number" 
                            class="form-control quantity {% if view == 'detail' %}selector-input{% endif %}"
                            min="1" 
                            {% if not request.user.is_superuser %}max="{% if view == 'detail' %}{{ default_variant.stock }}{% else %}{{ product_data.variant_stock }}{% endif %}"{% endif %}
                            value="{% if request.user.is_superuser and view == 'detail' %}
                                        {{ default_variant.stock|default:0 }}
                                    {% elif request.user.is_superuser and view != 'detail' %}
                                        {{ product_data.variant_stock|default:0 }}
                                    {% else %}
                                        1
                                    {% endif %}"
                            {% if view != 'detail' and request.user.is_superuser %}disabled{% endif %}>
                    {% endif %}
                </div>
            </div>

            <!-- Price or Stock Status -->
            {% if view == 'list' %}
                <h5 class="card-subtitle mt-3" id="price-{{ product_data.product.id }}">
                    {% if default_stock_status == 'Out of Stock' %}
                        <span class="text-danger"><strong>Out of Stock</strong></span>
                    {% else %}
                        <span><strong>${{ product_data.variant_price }} <span>each</span></strong></span>
                    {% endif %}
                </h5>
            {% elif view == 'detail' %}
                {% if request.user.is_superuser %}
                    {{ variant_form.price|as_crispy_field }}
                {% else %}
                <h5 class="card-subtitle mt-3" id="price-{{ product.id }}">
                    {% if default_stock_status == 'Out of Stock' %}
                        <span class="text-danger"><strong>Out of Stock</strong></span>
                    {% else %}
                        <span><strong>${{ default_price }} <span>each</span></strong></span>
                    {% endif %}
                </h5>
                {% endif %}
            {% endif %}

            <!-- Buttons -->
            {% if request.user.is_superuser %}
                {% if view == 'detail' %}
                <div class="col mb-2 btn-group">
                    <button class="btn btn-success mt-2">Save</button>
                    <button class="btn btn-warning mt-2">Deactivate Size</button>
                    <button class="btn btn-danger mt-2">Deactivate Product</button>
                </div>                
                {% else %}
                <a id="edit-link-{{ product_data.product.id }}"
                    href="{% url 'product_detail' slug=product_data.product.slug %}?size={{ product_data.variant_size }}"
                    class="btn btn-secondary {% if view == 'list' %}btn-sm{% else %}btn-buy{% endif %}"
                    data-base-url="{% url 'product_detail' slug=product_data.product.slug %}">
                    Edit
                </a>
                {% endif %}
            {% else %}
                <a id="buy-button-{{ product.id }}"
                   href="{{ product.get_buy_url }}"
                   class="btn btn-secondary btn-buy {% if view == 'list' %}btn-sm{% endif %} {% if default_stock_status == 'Out of Stock' %}disabled{% endif %}">
                   Buy
                </a>
            {% endif %}
        </div>
    </div>
</div>

