{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% if is_admin %}
<form class="form w-100 product-card {% if view == 'detail' %}container mt-5 product-page page-container{% else %}card{% endif %}">
    {% csrf_token %}
{% endif %}
    <div class="product-card {% if view == 'detail' %}container mt-5 product-page page-container{% else %}card{% endif %} w-100">
        <div class="{% if view == 'detail' %}row{% endif %}">
            
            <!-- Product Image -->
            {% include 'product/includes/image.html' %}

            <!-- Product details -->
            <div class="{% if view == 'detail' %}col-md-6 p-4{% else %}card-body p-2{% endif %}">
                <!-- Name -->
                {% include 'product/includes/name.html' %}

                <!-- Review Stars -->
                {% if not is_admin %}
                    {% include 'product/includes/review_stars.html' %}
                {% elif view == 'list' %}
                    {% include 'product/includes/review_stars.html' %}
                {% endif %}

                <!-- Description -->
                {% include 'product/includes/description.html' %}

                <!-- Size and Quantity/Stock -->
                <div class="row g-3 align-items-end {% if view == 'detail' %}selectors-row{% else %}card-row{% endif %}">
                    <!-- Size -->
                    {% if product.id %}
                        {% if view == 'list' %}
                            {% include 'product/includes/selector.html' with type="size" items=product_data.stock_by_size.items selected_value=product_data.variant_size %}
                        {% else %}
                            {% include 'product/includes/selector.html' with type="size" items=stock_by_size.items selected_value=default_size %}
                        {% endif %}
                    {% endif %}

                    {% if not is_admin or view == 'list' %}
                        {% if product.id %}
                            <!-- Quantity/Stock Selector -->
                            {% include 'product/includes/quantity_stock.html' %}
                        {% endif %}
                    {% else %}
                        <!-- Category -->
                        {% include 'product/includes/selector.html' with type="category" items=category_items selected_value=selected_category %}
                    {% endif %}
                </div>

                {% if product.id %}
                    <!-- Price -->
                    {% if not is_admin or view == 'list' %}
                        {% include 'product/includes/price.html' %}
                    {% else %}
                        <div class="row g-3 align-items-end {% if view == 'detail' %}selectors-row{% else %}card-row{% endif %}">
                            {% include 'product/includes/price.html' %}
                            {% include 'product/includes/quantity_stock.html' %}
                        </div>
                    {% endif %}
                {% endif %}

                <!-- Buttons -->
                {% include 'product/includes/actions.html' %}
                
                {% if product.id %}
                    <!-- Review form -->
                    {% include 'product/includes/review_form.html' %}
                {% endif %}
            </div>

            {% if product.id %}
                <!-- Review history -->
                {% include 'product/includes/review_history.html' %}
            {% endif %}
        </div>
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">

{% if is_admin %}
</form>
{% endif %}


