{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="product-card {% if view == 'detail' %}container mt-5 product-page page-container{% else %}card{% endif %}">
    <div class="{% if view == 'detail' %}row{% endif %}">
        {% if request.user.is_superuser and view == 'detail' %}
            {% csrf_token %}
        {% endif %}
        
        <!-- Product Image -->
        {% include 'product/includes/image.html' %}

        <!-- Product details -->
        <div class="{% if view == 'detail' %}col-md-6{% else %}card-body{% endif %}">
            <!-- Name -->
            {% include 'product/includes/name.html' %}

            <!-- Review Stars -->
            {% include 'product/includes/review_stars.html' %}

            <!-- Category -->
            {% include 'product/includes/category.html' %}

            <!-- Description -->
            {% include 'product/includes/description.html' %}

            <!-- Size and Quantity/Stock -->
            <div class="row g-3 align-items-end {% if view == 'detail' %}selectors-row{% else %}card-row{% endif %}">
                <!-- Size -->
                {% include 'product/includes/size.html' %}

                <!-- Quantity/Stock Selector -->
                {% include 'product/includes/quantity_stock.html' %}
            </div>

            <!-- Price -->
            {% include 'product/includes/price.html' %}

            <!-- Buttons -->
            {% include 'product/includes/actions.html' %}

            <!-- Review form -->
            {% include 'product/includes/review_form.html' %}
        </div>
    </div>
</div>

