{% if view == 'detail' %}
<div class="mt-3 card-body rating-container mt-5">
    {% if not is_admin %}
        <form method="post" class="rating-form">
            {% csrf_token %}
            <!-- Clickable Star Rating -->
            <div id="star-rating" class="mt-3 mb-3 centered-element">
                <!-- Hidden Rating Input (not displayed) -->
                <div class="sr-only">
                    {{ review_form.rating }}
                </div>
                {% for star in max_review %}
                    <i class="fa-solid fa-star star" data-value="{{ forloop.counter }}"></i>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col">
                    {{ review_form.comment|as_crispy_field }}
                </div>

                <button type="submit" class="btn btn-sm btn-secondary col"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </form>
    {% endif %}
</div>
{% endif %}
