<!-- Size Selector -->
<div class="col-md-6 mx-auto{% if view == 'detail' %}selector-group{% else %}mt-2{% endif %}">
    {% if view == 'detail' %}
        {% with stock_by_size.items as size_data %}
            <div class="gap-2 align-items-end">
                <label for="size-select-{{ product.id }}" class="form-label selector-label">Size</label>
                {% if request.user.is_superuser %}
                    <button class="btn btn-success btn-sm selector-new-button">+</button>
                {% endif %}
            </div>
            <select id="size-select-{{ product.id }}" 
                    class="form-select size select-dropdown selector-input">
                    {% for size, data in size_data %}
                        <option value="{{ size }}"
                                data-price="{{ data.price }}"
                                data-stock="{{ data.stock }}"
                                {% if size == default_size %}selected{% endif %}
                                {% if data.stock == 0 %}class="text-muted"{% endif %}>
                            {{ size }}
                        </option>
                    {% endfor %}
            </select>   
        {% endwith %}
    {% else %}
        {% with product_data.stock_by_size.items as size_data %}
            <label for="size-select-{{ product_data.product.id }}" class="form-label">Size</label>
            <select id="size-select-{{ product_data.product.id }}" class="form-select size select-dropdown"
                    data-base-url="{% url 'product_detail' slug=product_data.product.slug %}">
                {% for size, data in size_data %}
                    {% if data.stock > 0 or request.GET.show_out_of_stock == "on" %}
                        <option value="{{ size }}"
                                data-price="{{ data.price }}"
                                data-stock="{{ data.stock }}"
                                {% if size == product_data.variant_size %}selected{% endif %}
                                {% if data.stock == 0 %}class="text-muted"{% endif %}>
                            {{ size }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endwith %}
    {% endif %}
</div>

<!-- Size add field -->
