{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    Shopping cart
{% endblock %}

<!-- Including the CSS for styling -->
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div role="main" aria-labelledby="shopping-cart" class="shopping-cart page-container mt-4">
    <h1 class="mb-5" id="shopping-cart">Shopping cart</h1>
    <hr>
    {% if cart and cart.items %}
        {% include 'cart/includes/cart_items.html' with view='cart' %}
        <div class="text-end">
            <a href="{% url 'product' %}" class="btn btn-primary w-150">
                {% translate "Continue Shopping" %}
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-secondary w-150">
                {% translate "Proceed to Checkout" %}
            </a>
        </div>
        {% else %}
        <p class="text-center">{% translate "Your cart is empty!" %}</p>
        <a href="{% url 'product' %}" class="text-center btn btn-primary w-150">
            {% translate "Continue Shopping" %}
        </a>
    {% endif %}
    
</div>
{% endblock %}

<!-- Page specific scripts -->
{% block extra_js %}
{{ block.super }}
    <script src="{% static 'js/cart.js' %}" defer></script>
{% endblock extra_js %}
