{% extends 'base.html' %}
{% load static %}

{% block title %}
Your Destination for Premium Coffee
{% endblock %}

<!-- Including the CSS for styling -->
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="hero">
    <img class="image" src="{% static 'images/hero.webp' %}" alt="Hero image showing range of products that can be found on the site">
</div>

<div class="container my-4">
    <div role="main" aria-labelledby="product-list" class="product-list page-container mt-4">
        <h1 class="mb-5" id="product-list">Products</h1>
        {% include 'product/includes/catalog.html' %}
    </div>
</div>
{% endblock content %}