{% extends 'base.html' %}
{% load static %}

{% block title %}
Your Destination for Premium Coffee
{% endblock %}

<!-- Including the CSS for styling -->
{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<link rel="preload" href="{% if hero_image_small %}{{ hero_image_small }}{% else %}{{ fallback_image_small }}{% endif %}" as="image" media="(max-width: 768px)">
<link rel="preload" href="{% if hero_image %}{{ hero_image }}{% else %}{{ fallback_image }}{% endif %}" as="image" media="(min-width: 769px)">

<div class="hero">
    <img 
        class="image"
        src="{% if hero_image %}{{ hero_image }}{% else %}{{ fallback_image }}{% endif %}" 
        srcset="
            {% if hero_image_small %}{{ hero_image_small }}{% else %}{{ fallback_image_small }}{% endif %} 768w,
            {% if hero_image %}{{ hero_image }}{% else %}{{ fallback_image }}{% endif %} 1200w"
        sizes="(max-width: 768px) 100vw, 1200px"
        alt="Hero image showing range of products that can be found on the site"
        loading="eager">
</div>

<div class="container my-4">
    <div role="main" aria-labelledby="product-list" class="product-list page-container mt-4">
        <h1 class="mb-5" id="product-list">Products</h1>
        {% include 'product/includes/catalog.html' %}
    </div>
</div>
{% endblock content %}