/* base.css */

/* Main elements */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: var(--bg-dark);
    box-sizing: border-box; /* Ensure padding/border doesn't affect width */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading) !important;
    color: var(--text-secondary-color) !important;
}

p {
    font-family: var(--font-primary) !important;
    color: var(--text-primary-color) !important;
    font-weight: 100; /* Reduce font weight */
    letter-spacing: 0.1em; /* Increase spacing between letters */
}

a, label {
    font-family: var(--font-heading);
    color: var(--text-primary-color);
}

/* footer */
footer {
    bottom: 0;
    position: relative; /* Change to relative */
    width: 100%; /* Ensure it spans the full width */
    text-align: center;
    padding: 20px; /* Add padding for spacing */
}

footer i{
    font-size: 40px;
    margin: 5px !important;
    text-align: center;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer p, footer label, footer a{
    font-size: small;
}

footer li{
    margin: 0 !important;
}

/* General */
.text-secondary {
    color: var(--text-secondary-color);
}

.active {
    color: var(--text-secondary-color) !important;
    font-weight: 700;
}

.small-heading {
    color: var(--green-accent);
    font-size: 1.1rem;
    font-weight: bold;
}

.border-radius{
    border-radius: var(--bs-border-radius);
}

/* Screen-reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    color: var(--bg-darker);
    border: 0;
}

.privacy-link {
    font-size: xx-small;
}

.centered-element{
    margin: auto;
    padding: 0;
    width: auto;
    text-align: center;
}

/* Content container */
.content-container {
    flex: 1; /* Allows it to fill the remaining space */
    width: 100%; /* Full width */
    height: calc(100% - 60px); /* Adjust dynamically based on content */
    position: absolute;
    top: 0;
    margin-top: 60px;
    z-index: 300; /* Below the navbar */
}

.background-gradient {
    background: linear-gradient(
        to bottom,
        var(--bg-darker) 0%,
        var(--bg-darker) 60%,
        var(--bg-dark) 85%
    );
    background-repeat: no-repeat; /* Prevents the gradient from repeating */
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 500px; /* Matches hero height */
    z-index: 1; /* Below navbar and hero */
}

.content-gradient {
    position: relative; /* Allow the pseudo-element to position correctly */
    width: 100%;
    height: 100vh; /* Match the gradient height */
    overflow: hidden; /* Prevent content overflow */
    z-index: 20; /* Place it below higher layers */
    top: -500px;
}

.content-gradient::after {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Allow precise placement */
    top: 0; /* Align with the top of the container */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Proper centering */
    width: 200vh; /* Extend for a smooth fade */
    min-height: 100vh;
    height: 100%; /* Match the parent height */
    background: radial-gradient(
        circle at top center,
        rgba(var(--highlight-rgb), 0.08) 0%,   /* Bright at the center */
        rgba(var(--highlight-rgb), 0.05) 30%, /* Gradual fade */
        rgba(var(--highlight-rgb), 0.0) 65%, /* Subtle fading */
        rgba(var(--highlight-rgb), 0) 100%   /* Fully transparent at edges */
    );
    mix-blend-mode: screen; /* Natural blending with the background */
    pointer-events: none; /* Prevent interaction interference */
    z-index: -1; /* Place it below the content */
}

/* hero image */
.hero::after {
    content: '';
    position: absolute;
    top: 85%; /* Start at 85% of the height */
    left: 50%;
    width: 200vh; /* Slightly larger than the element for smooth fading */
    max-width: 2000px;
    height: 25%;
    background: radial-gradient(
        ellipse at center,
        rgba(var(--highlight-rgb), 0.2) 0%,   /* Bright white center */
        rgba(var(--highlight-rgb), 0.0) 70%  /* Fully transparent edges */
    );
    transform: translate(-50%, -50%); /* Center the gradient */
    mix-blend-mode: screen; /* Natural blending with background */
    pointer-events: none; /* No interference with user interactions */
}

.hero {
    width: 100%; /* Full width */
    height: 500px; /* Default height */
    max-height: 100vh; /* Constrain to viewport height */
    position: relative;
    overflow: hidden; /* Prevent overflow */
    z-index: 500; /* Position it below the navbar */
    padding-bottom: 50px;
}

.hero img {
    width: auto; /* Fill the width of the container */
    max-width: 100%;
    height: 100%; /* Fill the height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the space */
    display: block;
    margin: auto;
}

/* Buttons */
.btn{
    border: var(--border);
    border-radius: var(--bs-border-radius);
    font-family: var(--font-heading);
}

.btn-primary {
    --bs-btn-active-bg: var(--text-secondary-color);
    --bs-btn-active-border-color: var(--text-secondary-color);
    --bs-btn-active-color: var(--bg-darker);
    color: var(--text-secondary-color);
    background-color: var(--bg-darker);
    border-color: var(--text-secondary-color);
}

.btn-primary:hover {
    color: var(--bg-darker);
    background-color: var(--text-secondary-color);
    border-color: var(--bg-darker);
}

.btn-secondary {
    --bs-btn-active-bg: var(--bg-darker);
    --bs-btn-active-border-color: var(--bg-darker);
    --bs-btn-active-color: var(--text-secondary-color);
    color: var(--bg-darker);
    background-color: var(--text-secondary-color);
    border-color: var(--bg-darker);
}

.btn-secondary:hover {
    color: var(--text-secondary-color);
    background-color: var(--bg-darker);
    border-color: var(--text-secondary-color);
}

.btn-extra-small {
    font-size: 0.75rem;
}

.btn-extra-small.btn {
    padding: 0.2rem 0.4rem;
}

/* Navbar */
.navbar {
    position: fixed; /* Fixed to the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 60px; /* Fixed height */
    z-index: 1000; /* Ensure it appears above other elements */
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0); /* Initial transparency */
    backdrop-filter: blur(50px); /* Optional: blur for a frosted glass effect */
    pointer-events: auto; /* Ensure interactivity */
    transition: background-color 0.3s ease; /* Smooth transition on scroll */
}

.navbar .container-fluid {
    max-width: 1800px;
}

.navbar-brand {
    max-height: 50px;
    color: var(--text-secondary-color);
    margin-left: calc(50% - 85px);
}

.navbar-brand img{
    width: 50px;
    height: 50px;
}

.nav-link {
    color: var(--text-primary-color);
}

.menu-item:hover {
    color: var(--text-secondary-color);
}

.navbar-toggler {
    border-color: var(--text-primary-color);
    border-width: 3px;
    color: var(--text-primary-color) !important;
}

.navbar-collapse .nav-item, .dropdown-item{
    min-height: 50px;
    margin-left: auto;
    margin-right: 10px;
    padding: 5px;
}

.dropdown-item{
    text-align: right;
    padding-right: 10px;
    margin: auto;
    margin-right: 0;
}

.dropdown-item:active{
    background-color: transparent;
}

.navbar-nav{
    background-color: var(--bg-darker);
    opacity: 1;
    border: var(--border);
    border-radius: var(--bs-border-radius);
    border-color: var(--bg-lighter);
    box-shadow: 0 0 2px var(--text-primary-color);
    max-width: 10rem;
    max-height: 80%;
    margin-left: auto;
    margin-top: 5px;
}

.menu-item.active{
    color: var(--text-secondary-color);
}

.dropdown-toggle::after{
    border: 0;
    content: none;
}

/* User menu aligned to the right */
.menu-icon {
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.menu-icon i , .menu-icon svg{
    font-size: 2rem;
    cursor: pointer;
    min-width: 60px;
    margin: auto;
    color: var(--text-primary-color);
    padding-left: 20px;
}

.menu-icon i:hover, .menu-icon svg:hover {
    color: var(--text-secondary-color);
}

.menu-item{
    margin: auto;
    cursor: pointer;
}

.dropdown-menu {
    right: 0;
    border: var(--border);
    border-color: var(--bg-lighter);
    box-shadow: 0 0 2px var(--text-primary-color);
    left: auto;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.dropdown-menu[data-bs-popper]{
    left: auto;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: -11.5px;
    top: 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: auto;
    border: var(--border);
    border-color: var(--bg-lighter);
    box-shadow: 0 0 2px var(--text-primary-color);
    background-color: var(--bg-dark);
    opacity: 1;
}

/* Wrapper for centering the search bar */
.search-bar-container {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;    /* Vertically centers the content */
    height: 100%;          /* Full viewport height to center the search bar vertically */
    position: relative;     /* Makes sure it's relative to the page */
    width:100%;
    margin-top: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Add spacing between input and button */
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    width:50%;   
    max-width: 400px;
}

.form-control, .form-select{
    border: var(--border);
    border-color: var(--bg-lighter);
    box-shadow: 0 0 2px var(--text-primary-color);
}

input{
    background-color: var(--bg-darker);
}

/* Change the border color when the search input is focused */
* input:focus,
* select:focus, 
.btn-category:focus, 
* textarea:focus, 
.accordion-button:not(.collapsed), 
.accordion-button:focus, 
.accordion-body,
.StripeElement--focus {
    outline: none !important; /* Removes the default blue outline */
    border-color: var(--text-secondary-color) !important; /* Replace with your desired color */
    box-shadow: 0 0 5px var(--text-primary-color) !important; /* Optional: Add a glow effect */
}

/* Cart menu option */
.cart-menu.d-block{
    padding-right: 10px;
}

/* Styling for custom error pages */
.error-page {
    height: auto;
    min-height: calc( 100vh - 60px );
    width: 600px;
    max-width: 80%;
    margin: auto;

    /* Flexbox layout for vertical and horizontal centering */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center the text content */
}


.error-page p a {
    font-family: inherit;
}

/* Pages container */
.page-container {
    width: 80%;
    margin-top: clamp(100px, auto, auto); /* Ensures minimum 100px margin-top */
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    min-height: calc(100vh - 60px);
}

/* Card template */
.card{
    border: var(--border);
    border-color: var(--bg-lighter);
    color: inherit;
    margin: 0;
    height: 100%;
    width: auto;
    max-width: 250px;
    min-width: 150px;
    background-color: var(--bg-dark);
    box-shadow: 0 0 10px rgba(var(--highlight-rgb), 0.1);
    border-radius: var(--bs-border-radius);
}

.card * {
    font-size: x-small;
    padding: 0;
    margin: 0;
}

.card-body {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card .content-gradient{
    top: 0;
    height: 150px;
}

.card .background-gradient{
    height: auto;
    border-top-right-radius: var(--bs-border-radius);
    border-top-left-radius: var(--bs-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally centers the image */
}

.card .content-gradient::after {
    width: 100%; /* Extend for a smooth fade */
    height: auto;
    min-height: 500px;
    background: radial-gradient(
        circle at top center,
        rgba(var(--highlight-rgb), 0.08) 0%,   /* Bright at the center */
        rgba(var(--highlight-rgb), 0.05) 7%, /* Gradual fade */
        rgba(var(--highlight-rgb), 0.0) 30%, /* Subtle fading */
        rgba(var(--highlight-rgb), 0) 100%   /* Fully transparent at edges */
    );
}

.card-title a{
    color: var(--text-secondary-color);
    text-decoration: none;
    cursor: pointer;
    font-size: small;
}

.card-title a:hover {
    color: var(--text-primary-color);
}

.card .btn {
    width: 50%;
    margin: auto;
    height: 25px;
    font-size: medium;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers content horizontally */
}

.card-row > * {
    text-align: center;
}

.card-img-top{
    max-height: 150px;
    max-width: 100%;
    object-fit: contain; /* Ensures the image maintains aspect ratio */
}

.card.card-image-detail {
    max-height: max-content;
}

.review-stars {
    display: flex;
    justify-content: center; /* Centers the stars */
    gap: 5px; /* Space between stars */
}

.star {
    font-size: xx-small;
    color: var(--text-primary); /* Default bordered color */
    opacity: 0.5;
    text-shadow: 0 0 2px var(--text-primary-color);
}

.star.filled {
    opacity: 1;
    color: var(--text-secondary-color) !important; /* Filled color for selected stars */
}

.review-stars p {
    margin: 0;
}

#star-rating .star{
    font-size: xxx-large;
    cursor: pointer;
}

#star-rating .star.hovered {
    filter: drop-shadow(0 5px 20px var(--text-secondary-color));
    opacity: 0.8;
}

#star-rating .star.hovered.filled {
    filter: drop-shadow(0 0 20px var(--text-primary-color));
    opacity: 1;
}

#star-rating .star.filled {
    filter: drop-shadow(0 0 20px var(--text-primary-color));
    opacity: 1;
}

#star-rating .star.filled.unhovered {
    filter: drop-shadow(0 0 10px var(--red-accent));
    opacity: 1;
}

.card .form-control, .card .form-select{
    max-width: 80%;
    margin: auto;
    text-align: center; /* Centers content horizontally */
    background-image: none;
}

.card h1, .card-subtitle strong{
    font-size: medium !important;
}

.card-text, .card-subtitle {
    margin-bottom: 5px;
}

.card-text {
    min-height: 30px;
    text-align: center;
}

.card-subtitle {
    text-align: center;
}

#size-select {
    background-position: right center;
}

.select-dropdown option:focus{
    background-color: #c0c0c0 !important;
}

/* Filtering and sorting */
.sort-menu .d-flex {
    justify-content: flex-start; /* Align icons to the left */
    gap: 5px; /* Add 5px gap between icons */
}

.btn-category {
    color: var(--text-primary-color);
    border: var(--border);
    background-color: var(--bs-body-bg);
    box-shadow: 0 0 1px var(--text-primary-color);
    border-radius: var(--bs-border-radius);
    font-family: var(--font-heading);
    height: 100%;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    /* Truncation with ellipsis */
    white-space: nowrap;          /* Prevent text from wrapping */
    overflow: hidden;            /* Hide overflowing text */
    text-overflow: ellipsis;     /* Add ellipsis (...) to truncated text */
}

.btn-category:hover {
    color: var(--text-secondary-color);
}

.btn-category:active {
    color: var(--text-secondary-color);
}

.form-check-input:checked {
    background-color: var(--text-secondary-color) !important;
    color: var(--bg-darker) !important;
    border-color: var(--bg-lighter) !important;
    box-shadow: 0 0 2px var(--text-primary-color) !important;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e) !important;
    background-image: var(--bs-form-check-bg-image) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

/* Icon button styling */
.sort-menu .nav-link {
    display: flex; /* Ensure proper alignment */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    width: 40px; /* Set width */
    height: 40px; /* Set height */
    font-size: 1.5rem; /* Increase font size */
    border-radius: 50%; /* Optional: make the icons circular */
    background-color: transparent; /* Optional: add background color for visual effect */
    text-decoration: none; /* Remove underline */
    margin-left: auto;
}

/* Additional hover effect for better UX */
.sort-menu .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slight background highlight */
    transition: background-color 0.2s ease-in-out;
}

/* Adjust icon size */
.sort-menu .menu-item.lg {
    font-size: 1.8rem; /* Larger font size for icons */
}

/* Product page */
.product-page .review-stars{
    justify-content: left;
}

.product-page .star{
    font-size: medium;
}

.product-page .card-img-top{
    min-width: 150px;
    width: auto;
    max-width: 100%;
    max-height: none;
}

.product-page .card{
    max-width: 100%;
}

.product-page .content-gradient, .product-page .content-gradient::after{
    height: 100%;
}

.btn-buy{
    display: block; 
    margin: 0 auto; 
    width: 50%;
}

.btn-group {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap */
    gap: 2px; /* Add space between buttons */
    justify-content: center; /* Center buttons within the parent */
    border-radius: var(--bs-border-radius);
}

.btn-group .btn {
    flex: 1 1 33%; /* Buttons will grow, shrink, and have a max width of 48% */
    max-width: 33%; /* Ensure no button exceeds 48% of the parent width */
}

option[data-stock="0"] {
    color: grey;
    font-style: italic;
}

/* Product selectors */
/* Grouped styling for edit product selectors */
.selector-group {
    display: flex;
    flex-direction: column;
}

/* product Labels */
.selector-label {
    height: 25px;
    line-height: 25px;
    align-self: flex-start;
}

/* Admin edit product Inputs */
.selector-input {
    height: 40px;
}

/* Help page */
.accordion-button:not(.collapsed) {
    color: var(--bg-darker);
    background-color: var(--text-secondary-color);
}

.accordion-button:not(.collapsed)::after, .accordion-button::after {
    background-image: none;
}

.accordion-body {
    border-radius: var(--bs-border-radius);
}

/* Product image selector */
.position-relative {
    position: relative;
}

.image-upload-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    
}

#div_id_name{
    margin-top: 1.5rem;
}

/* Rating form */
.rating-form{
    height: 100%;
    max-width: 600px;
    margin: auto;
}

.rating-form .btn{
    margin-top: 25px;
    margin-bottom: 35px;
    max-width: 50px;
}

.btn-review{
    margin-top: 26px;
    height: calc(100% - 60px);
    width: 100%;
}

.bg-primary{
    background-color: var(--text-primary-color) !important;
    color: var(--bg-darker) !important;
    margin-left: 5px;
    margin-bottom: 0;
}

.rating-container .list-group-item {
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 2px;
}

#review_title p{
    margin: 0;
    padding: 0;
}

.review-list .btn{
    width: 40px;
    height: 40px;
    align-self: flex-end;
}

.list-group-item{
    width: fit-content;
}

.text-end {
    text-align: right;
}

.silenced{
    text-decoration: line-through;
    color: gray;
}

.silenced-indicator {
    color: var(--red-accent) !important;
}

#div_id_price{
    margin-top: 1rem;
}

.action-btn-form{
    padding-left: 0;
}

.selector-label{
    padding-right: 0;
}

/* Badges */
.badge-container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.badge {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-primary-color);
    padding: 2px 6px;
    border-radius: 4px;
    border-radius: var(--bs-border-radius);
    border-color: var(--bg-lighter);
    box-shadow: 0 0 2px var(--text-primary-color);
}

.badge-active {
    background-color: var(--green-accent);
}

.badge-inactive {
    background-color: var(--red-accent);
}

/* Icon coffee */
.icon {
    width: 1em; /* Set width to match font size */
    height: 1em; /* Set height to match font size */
    fill: currentColor; /* Inherit color from the text */
    margin-bottom: 0.3em;
    margin-top: auto;
}

/* Cookie Consent Banner */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-light);
    color: var(--text-primary-color);
    text-align: center;
    padding: 15px;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
}

.cookie-banner button {
    margin: 5px;
    padding: 10px 20px;
    background-color: var(--text-secondary-color);
    color: var(--bg-dark);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cookie-banner button:hover {
    background-color: var(--green-accent);
}

/* Toasts */
.toast {
    border-radius: var(--bs-border-radius);
    background-color: var(--bg-darker);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.toast-container{
    top: 60px;
}

.toast-header, .toast-body {
    margin: 0;
}

.toast-body {
    padding: 0.5rem 1rem; 
}

/* Cart cards */
.card-cart {
    display: contents;
    max-height: 150px;
}

.card-cart * {
    font-size: medium;
}

.card-cart .card-title a {
    font-size: large;
}

.card-cart img{
    max-height: 150px;
    max-width: 150px;
}

.card-cart .card-text {
    text-align: left;
}

.card-cart .cart-image {
    height: 150px;
}

.w-150{
    width: 150px;
}

/* Checkout page */
.card-checkout {
    display: contents;
    max-height: 100px;
}

.card-checkout  * {
    font-size: small;
}

.card-checkout .card-title a {
    font-size: medium;
}

.card-checkout img{
    max-height: 100px;
    max-width: 100px;
}

.card-checkout .card-text {
    text-align: left;
}

.card-checkout .cart-image {
    height: 100px;
}

.card-checkout .btn{
    min-width: 25px;
}

/* Stripe element */
.StripeElement{
    height: 40px;
}

.StripeElement * {
    max-height: 25px;
} 

/* Tables */
.table{
    --bs-table-bg: transparent !important;
    max-width: 100%;
}

/* Order view */
.order-confirmation-wrapper{
    width: 100%;
}

.text-truncate {
    white-space: nowrap;     /* Prevent text wrapping */
    overflow: hidden;        /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis at the end */
}

/* Layout shift fix */
@media (min-width: 768px) {
    #div_id_stock{
        margin-top: 1rem;
    }
}

/* Desktop styles */
@media (min-width: 992px) {
    /* Logo aligned to the left */
    .navbar-brand {
        width: auto;
        margin: auto;
        margin-right: auto;
    }

    /* Desktop menu alignment */
    .navbar-nav .nav-item {
        margin-right: 15px;
    }

    .navbar-nav{
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        opacity: 1;
        border: none;
        box-shadow: none;
        border-color: transparent;
        max-width: 100%;
        max-height: 100%;
        margin-left: 10px;
        margin-top: auto;
    }

    .search-bar-container {
        margin-top: 0px;
    }
}