{% load static i18n custom_filters %}

<div class="row g-4">
    {% for item in cart.items %}
        <div class="col-12">
            <div class="card shadow-sm {% if view == 'cart' %}card-cart{% else %}card-checkout{% endif %}">
                <div class="row g-0">
                    <!-- Product Image -->
                    <div class="col-md-3 cart-image">
                        <img src="{{ item.product.image }}" class="img-fluid rounded-start" alt="{{ item.product.name }}">
                    </div>

                    <!-- Product Details -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a id="detail-link-{{ item.id }}"
                                    href="{% url 'product_detail' slug=item.slug %}?size={{ item.size }}">
                                    {{ item.product }}
                                </a>
                            </h5>
                            <p class="card-text">
                                <strong>{% translate "Size:" %}</strong> {{ item.size }}
                            </p>
                            <p class="card-text">
                                <strong>{% translate "Price:" %}</strong> ${{ item.price }} 
                            </p>
                            <p class="card-text">
                                <strong>{% translate "Quantity:" %}</strong>
                                <input 
                                    type="number" 
                                    class="form-control d-inline-block w-auto cart-quantity" 
                                    value="{{ item.quantity }}" 
                                    min="1"
                                    max="{{ item.stock }}"
                                    data-item-id="{{ item.id }}" 
                                    data-size="{{ item.size }}" 
                                    data-initial-quantity="{{ item.quantity }}">
                            </p>
                            <p class="card-text">
                                <strong>{% translate "Subtotal:" %}</strong> ${{ item.quantity|multiply:item.price }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="d-flex justify-content-between">
                            <!-- Remove Button -->
                            <button class="btn btn-sm btn-danger btn-remove" 
                                    data-url="{% url 'delete_cart' item.id %}" 
                                    data-item-id="{{ item.id }}" 
                                    data-size="{{ item.size }}">
                                    <i class="fa-solid fa-trash"></i>
                            </button>
                        
                            <!-- Update Button -->
                            <button 
                                class="btn btn-sm btn-success btn-update d-none" 
                                data-url="{% url 'update_cart' item.id %}" 
                                data-item-id="{{ item.id }}" 
                                data-size="{{ item.size }}">
                                <i class="fa-solid fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
<div class="text-end">
    <h3>{% translate "Total:" %} ${{ cart.total }}</h3>
</div>
