{% load static %}

<header>         
    {% with request.resolver_match.url_name as url_name %}
    <!-- ARIA role added to nav for better accessibility -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            
            <!-- Search button for mobile -->
            <div class="search-menu menu-icon d-block d-lg-none" id="mobileSearchButton">
                <i class="fa-solid fa-magnifying-glass menu-item"></i>
            </div>

            <!-- Logo -->
            <a class="navbar-brand centered-element" href="/" aria-label="Homepage - Coffee Hub">
                <!-- Improved alt text for logo for better accessibility -->
                <img src="{% static 'images/logo.webp' %}" alt="Coffee Hub logo" width="30" height="30">
            </a>

            <!-- Cart menu -->
            <div class="cart-menu d-block d-lg-none menu-icon">
                <a class="nav-link" href="/" aria-label="Cart button">
                    <i class="fa-solid fa-cart-shopping menu-item" aria-label="Cart menu"></i>
                </a>
            </div>

            <!-- Button for toggling the mobile navigation menu -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation items with ARIA roles and improved link structure for accessibility -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Active page indication using aria-current for accessibility -->
                    <li class="nav-item ">
                        <a class="nav-link menu-item" aria-current="page" href="/#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link menu-item" aria-current="page">About</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-block d-lg-none menu-item" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% include 'includes/account-menu.html' %}
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Search bar -->
            <div class="search-bar-container d-none d-lg-flex">
                <form class="form-inline search-bar" method="GET" action="{% url 'product' %}">
                    {% with request.GET.copy as params %}
                    {% for key, values in params.lists %}
                        {% if key != 'q' %}
                            {% for value in values %}
                                <input type="hidden" name="{{ key }}" value="{{ value|urlencode }}">
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">GO</button>
                </form>
            </div>                   
            
            <!-- Cart menu -->
            <div class="cart-menu d-none d-lg-block menu-icon">
                <a class="nav-link" href="/" aria-label="Cart button">
                    <i class="fa-solid fa-cart-shopping menu-item" aria-label="Cart menu"></i>
                </a>
            </div>
            
            <!-- User menu for desktop -->
            <div class="user-menu menu-icon d-none d-lg-block">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-user menu-item" aria-label="User menu"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include 'includes/account-menu.html' %}
                </div>
            </div>
        </div>
    </nav>
    {% endwith %}
</header>