{% extends "accounts/account.html" %}
{% load i18n allauth account crispy_forms_tags static %}

{% block title %}
    {% trans "Update Username" %}
{% endblock title %}

{% block account-content %}
<div class="error-page">
    <div class="text-center">
        <!-- Page heading -->
        <h1>{% trans "Update Username" %}</h1>

        <!-- Username update form -->
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <!-- Submit button -->
            <button type="submit" class="btn btn-success">
                {% trans "Update Username" %}
            </button>
        </form>
    </div>
</div>
{% endblock account-content %}
